<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    {{ insurance.name }} Insurance premiums</div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Insurance</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>€5.00</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let action of insurance.insuredActions">
            <td>{{ insurance.name}}</td>
            <td>{{ action.start}}</td>
            <td>{{ action.end}}</td>
            <td>{{ action.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<h1>You owe us!</h1>
Amount to pay: €5<br>
<div class="btn-group btn-group">
  <label class="btn-primary" ngbButtonLabel>
    <button type="button" class="btn btn-primary" (click)="pay()"> Pay</button>
  </label>
</div>
<h1>Ask Stewie</h1>
<app-conversation></app-conversation>